/* createPlaylist.css */
.createPlaylist-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 5;
}

.createPlaylist {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 16px;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
    width: 60vw;
    padding: 12px 24px;
    background: #1c1c1c;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.createPlaylist h2 {
    font-family: 'Poppins', sans-serif;
    color: #FFFFFF;
    font-size: 24px;
    margin: 0;
}

.createPlaylist input, .createPlaylist textarea {
    font-family: 'Poppins', sans-serif;
    width: calc(100% - 20px);
    height: 24px;
    padding: 8px;
    background: #2a2a2a;
    border-radius: 5px;
    color: #FFFFFF;
    border: 2px solid #2a2a2a;
    transition: 0.2s;
}

.createPlaylist textarea {
    height: 100px;
    resize: none;
}

.createPlaylist input::placeholder, .createPlaylist textarea::placeholder {
    color: #656565;
}

.createPlaylist input:focus, .createPlaylist textarea:focus {
    outline: none;
}

.createPlaylist input:focus-within, .createPlaylist textarea:focus-within {
    border: 2px solid #FFFFFF;
    transition: 0.2s;
}

.createPlaylist-container-buttons
{
    display: flex;
    gap: 8px;
    margin-left: auto;
}