/* App Styling */

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
  background-color: #121212;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

/* Content and rest of screen */
.content-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 24px;
  padding-top: 0;
  background-color: #121212;
}

.playlist-select {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.playlist-select-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.playlist-select-left p {
  margin: 0;
}

/* Track List */
.track-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}





/* Filter Icon on the right */
.filter-icon {
  position: absolute;
  right: 24px;
  cursor: pointer;
}

.filter-icon svg {
  width: 24px;
  height: 24px;
  fill: #656565;
  transition: fill 0.2s ease-in-out;
}

.filter-icon:hover svg {
  fill: #ffffff;
}